.communityGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: masonry; /* only maybe works on Firefox */
  gap: 3rem;
  margin: 3rem 0;
  max-width: 800px;
}

.emptyGrid {
  text-align: center;
  font-size: larger;
  grid-column-start: 0;
  grid-column-end: 3;
  grid-row-start: 0;
}

.communityItem {
  display: block;
  text-decoration: none;
  color: black;
  max-width: 376px;
}

.communityItem:hover, .communityItem:active {
  text-decoration: none;
  color: #d97629;
}

.communityItem h1,
.communityItem h2,
.communityItem h3 {
  margin: 0;
}

.communityItem:hover .noColorChange {
  color: black;
}

.communityItem img {
  width: 100%;
  object-fit: cover;
}

.staticMapBox {
  height: 250px;
  width: 100%;
  border: 0.5px solid #cfcfcf;
  border-radius: 6px;
  margin-bottom: 1rem;
  filter: drop-shadow(0 0 10px #cfcfcf);
}

@media screen and (min-width: 1000px) {
  .communityGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
