.communityGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: masonry; /* only maybe works on Firefox */
  gap: 3rem;
  margin-bottom: 3rem;
  max-width: 700px;
}

.emptyGrid {
  text-align: center;
  font-size: larger;
  grid-column-start: 0;
  grid-column-end: 3;
  grid-row-start: 0;
}

.communityItem {
  display: block;
  text-decoration: none;
  color: black;
}

.communityItem:hover, .communityItem:active {
  text-decoration: none;
  color: #d97629;
}

.communityItem h1,
.communityItem h2,
.communityItem h3 {
  margin: 0;
}

.communityItem:hover .noColorChange {
  color: black;
}

.communityItem img {
  height: 150px;
  width: 100%;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .communityGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
