# Note: the host and port of your Explore Terrastories server must match 
# the CORS_ORIGINS setting in your Terrastories server's .env file. For example, 
# if your Explore Terrastories server is running on http://localhost:1080,
# your Terrastories server's CORS_ORIGINS setting should be localhost:1080.
PORT=1080

VITE_API_BASE=http://localhost:3000/api
VITE_MAPBOX_TOKEN=
