main.homeMain {
  display: flex;
  flex-direction: column;
}

main.homeMain .contentMain {
  flex: 4;
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  main.homeMain {
    height: calc(100% - 100px);
    flex-direction: row;
  }

  main.homeMain .contentMain {
    flex: 4;
    margin: 1rem;
    overflow-y: scroll;
    overflow-wrap: break-word;
  }
}
