.enableMapHeader {
  margin-top: 50px;
}

.tsPopup {
  max-height: 320px;
}

.tsPopup .maplibregl-popup-content,
.tsPopup .mapboxgl-popup-content {
  padding: 0;
  border-radius: 8px;
}

.tsPopup img {
  width: 100%;
  display: block;
}

.tsPopup.maplibregl-popup-anchor-top .maplibregl-popup-tip,
.tsPopup.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #33aa8b;
}

.tsBrand {
  display: block;
}

.tsBrand.maplibregl-ctrl-group:not(:empty) {
  box-shadow: 0 0 0 2px #136a7e;
}

.tsBrand svg {
  width: 100%;
  object-fit: contain;
  max-height: 30px;
  vertical-align: middle;
  padding: 5px;
}

.tsMarker {
  cursor: pointer;
}

.tsMarker span {
  font-family: 'OpenSansCondensed-Bold';
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1.5rem;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

@media (max-resolution: 96dpi) {
  .tsMarker {
    will-change: unset;
  }

  .tsPopup {
    will-change: unset;
  }
}
