.enableMapHeader {
  margin-top: 50px;
}

.tsPopup {
  max-height: 320px;
}

.tsPopup .maplibregl-popup-content,
.tsPopup .mapboxgl-popup-content {
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);
}

.tsPopup img {
  width: 100%;
  display: block;
}

.tsPopup.maplibregl-popup-anchor-top .maplibregl-popup-tip,
.tsPopup.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #33aa8b;
}

.tsBrand {
  display: block;
  padding: 8px 10px;
  width: 200px;
}

.maplibregl-ctrl-top-right .tsBrand,
.mapboxgl-ctrl-top-right .tsBrand {
  clear: both;
  margin: 10px 10px 4px 0;
}

.tsBrand.maplibregl-ctrl-group:not(:empty),
.tsBrand.mapboxgl-ctrl-group:not(:empty) {
  box-shadow: 0 0 0 2px #136a7e;
  border-radius: 6px;
}

.tsBrand svg {
  width: 100%;
  object-fit: contain;
  max-height: 36px;
  vertical-align: middle;
  display: block;
}

.ts-home-btn {
  background-repeat: no-repeat;
  background-position: center;
}

.tsMarker {
  cursor: pointer;
}

.tsMarker span {
  font-family: 'OpenSansCondensed-Bold';
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1.5rem;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

@media (max-resolution: 96dpi) {
  .tsMarker {
    will-change: unset;
  }

  .tsPopup {
    will-change: unset;
  }
}
