.panelContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40%;
  transition: height 1s ease-in-out;
}

.panelContainer.panelFullScreen {
  /* 50px is the height of the mobile fullscreen header */
  /* 2.5rem is the height of the mobile panel tab */
  height: calc(100% - 50px - 2.5rem);
}

.panelContainer .panel {
  position: absolute;
  bottom: 0;

  height: 100%;
  width: 100%;
  background: #efefef;

  padding: 1rem;
  transition: height 1s ease-in-out;

  display: flex;
  flex-direction: column;
}

.panelContainer.panelClosed {
  height: 0;
}

.panelContainer .panelTab {
  cursor: pointer;
  color: rgba(255,255,255, 0.4);

  position: relative;
  top: -2.5rem;
  z-index: 2;

  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;

  background-color: #0f566b;
  box-shadow: 3px 2px 3px rgba(102,102,102, 0.1);

  transition: transform 1s ease-in-out;
}

/* Mobile Arrow Up / Either / Down */
.panelContainer .panelTab::before {
  display: inline-block;
  content: "▲▼";
  transform: none;
}

.panelContainer.panelFullScreen .panelTab::before {
  display: inline-block;
  content: "▲";
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transition: transform 1s ease-in-out 0.9s;
}

.panelContainer.panelClosed .panelTab::before {
  display: inline-block;
  content: "▼";
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transition: transform 1s ease-in-out 0.9s;
}

/* Panel Bottom Link Bar */
.panelContainer .panel .panelLinks {
  display: flex;
  font-size: smaller;
  padding-top: 0.5rem;
  column-gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.panelContainer .panel .panelLinks > div > * + * {
  margin-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  /* Panel Container for relative positioning */
  .panelContainer {
    max-width: 25rem;
    height: 100%;

    transition: transform 1s ease-in-out;
  }

  .panelContainer .panel {
    border-right: 1px solid #bbbbbb;

    box-shadow: 3px 2px 3px rgba(102,102,102, 0.1);
  }

  .panelContainer.panelClosed {
    height: 100%;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  /* Panel Tab for controlling the Panel */
  .panelContainer .panelTab {
    cursor: pointer;
    color: rgba(255,255,255, 0.4);

    position: absolute;
    top: 0.5rem;
    right: -2rem;
    width: 2rem;

    height: 4rem;
    line-height: 3.9rem;
    text-align: center;

    border-radius: 0 6px 6px 0;
    background-color: #0f566b;
    box-shadow: 3px 2px 3px rgba(102,102,102, 0.1);

    transition: transform 1s ease-in-out;
  }

  /* Panel Tab Arrow Content */
  .panelContainer .panelTab::before {
    display: inline-block;
    content: "◀";
    transform: none;
    transition: transform 1s ease-in-out 0.9s;
  }

  .panelContainer.panelClosed .panelTab::before {
    display: inline-block;
    content: "◀";
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}