/* Defined custom fonts */
@font-face {
  font-family: 'OpenSansCondensed-Bold';
  src: url('./fonts/OpenSansCondensed-Bold.ttf');
}

/* Define App defaults */
h1, h2, h3, h4, h5 {
  font-family: 'OpenSansCondensed-Bold';
  margin: 0.5rem 0 1.25rem;
  line-height: 1.25;
}

h1 {
  font-size: 2.281rem;
}
h2 {
  font-size: 2.027rem;
}
h3 {
  font-size: 1.802rem;
}
h4 {
  font-size: 1.424rem;
}
h5 {
  font-size: 1.266rem;
}
h6 {
  font-size: 1.125rem;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
}

/* Shared CSS utilities */

/****
 * Clamp Lines
 *
 * This will clamp long text to 3 lines
 * and display a ellipsis to denote additional
 * text.
 */
.clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: anywhere;
}

.clampTitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: anywhere;
}

/****
 * Badges
 *
 * This creates chip badges for meta information.
 * If image is contained within badge, assumes icon.
 */
.badge {
  display: inline-block;
  font-size: .8rem;
  background-color: rgba(102,102,102, 0.1);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}
.badge > svg {
  height: 18px;
  width: 18px;
  vertical-align: middle;
  margin-right: 0.25rem;
  margin-top: -2px; /* offset for more visually appealing valign */
}
.badge + .badge {
  margin-left: 5px;
}


/* ARIA Helpers */
span[role='link'] {
  color: LinkText; /* System Color */
  cursor: pointer;
  text-decoration: underline;
}

span[role='link']:hover,
span[role='link']:target,
span[role='link']:active {
  color: VisitedText; /* System Color */
  text-decoration: underline;
}

span[role="link"]:focus-visible {
  outline: auto 1px Highlight; /* System Color */
}
